<h1><%= title %></h1>

<img src="<%= poster_url %>" alt="">

<p><%= release_date %></p>
<p><%= rating %></p>
<p><%= imdb_rating %></p>
<p><%= rotten_tomatoes_rating %></p>
<p><%= metacritic_rating %></p>